.layout{
    display: grid;
    grid-template-rows: auto auto auto auto; /* You need to match the row template with amount of rows*/
    grid-template-columns: auto auto;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-template-areas:    
    "header header"
    "main main"
    "footer footer";
}
.header{
    grid-area: header;
    border: 3px solid black;
    text-align: center;
    font-family: Arial;
    text-align: center;

}

.main{
    grid-area: main;
    border: 3px solid black;
    font-family: Arial;
    text-align: center;
}
.footer{
    text-align: center;
    grid-area: footer;
    border: 3px solid black;
    font-family: Arial;
    text-align: center;

}

img{
    max-width: 60%;
    max-height: 60%;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style: none;
}
